<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hire Me</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style_09.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <img src="https://cdn-icons-png.flaticon.com/128/5683/5683501.png" alt="No Image" class="toggle_Icon">
    <div class="parent_Div">
        <section>
            <i class="fa-solid fa-left-long"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </section>
            <div class="profile_Image"></div><div class="check"><i class="fas fa-check"></i></div>
            <h2>Beverly Little</h2>
            <h4 class="sub_Heading">JAVASCRIPT DEVELOPER</h4>
            <p class="content_Lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque aliquam aliquid porro!</p>
        <table>
            <tr>
                <td colspan="3"><button>Hire Me</button></td>
            </tr>
            <tr class="first_Row">
                <td><div class="dribble_Icon"><i class="fab fa-dribbble"></i></div></td>
                <td><div class="behance_Icon"><i class="fab fa-behance"></i></div></td>
                <td><div class="twitter_Icon"><i class="fab fa-twitter"></i></div></td>
            </tr>
            <tr>
                <td><h4 class="second_Row">12.8k</h4></td>
                <td><h4 class="second_Row">12.8k</h4></td>
                <td><h4 class="second_Row">12.8k</h4></td>
            </tr>
            <tr>
                <td><p class="third_Row">Followers</p></td>
                <td><p class="third_Row">Followers</p></td>
                <td><p class="third_Row">Followers</p></td>
            </tr>
        </table>
    </div>
</body>
</html>