<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cricket</title>
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./CSS/style_07.css">
</head>
<body>
    <div class="top_Image">
    </div>
    <div class="bottom_Content">
        <section>
        <h3>NEWS OF THE DAY</h3>
        <h1>iB Cricket announces world's first<br>Virtual Reality Cricket League</h1>
        </section>
        <p>iB Cricket and Viu together have announced the World's first virtual cricket league featuring 12 international cricketers, who will be competing against each other for the iB Cricket Super Over League title in Mumbai. Iconic cricketers like Virender Sehwag, Suresh Raina, Brendon McCullum will be competing in the league.</p>
        <button>Read more</button>
    </div>
</body>
</html>