<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style_02.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="popup_Box">
        <h1>Login</h1>
        <br>
        <section>
        <input type="text" placeholder="CodeHim">
        <input type="text" placeholder="Your password...">
        <br>
        <button>Login</button>
        </section>
        <table>
            <tr>
                <td colspan="3">or use a social network</td>
            </tr>
            <tr>
                <td><div class="icon_bg"><i class="fa-brands fa-twitter"></i></div></td>
                <td><div class="icon_bg"><i class="fa-brands fa-square-facebook"></i></div></td>
                <td><div class="icon_bg"><i class="fa-brands fa-linkedin-in"></i></div></td>
            </tr>
            <tr>
                <td colspan="3"><hr></td>
            </tr>
            <tr>
                <td colspan="3">Not a member yet? <a href="https://accounts.google.com/signup/v2/createaccount?flowName=GlifWebSignIn&flowEntry=SignUp">Sign Up</a></td>
            </tr>
        </table>
    </div>
</body>
</html>