<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Covid-19</title>
<script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="./CSS/style_06.css">
</head>
<body>
    <div class="parent_Div">
                <img src="https://aarshremedies.com/assets/svg/medical_care.svg" alt="No image" class="top_Image">
                <h2 class="Head_1">All you need to know about COVID-19</h2>
                <button class="button_01">Know more</button>
            
            <div class="child_Div_01">
                <img src="https://cdn-user-icons.flaticon.com/108120/108120485/1687881162497.svg?token=exp=1687934186~hmac=6dcdfb35a482db65f77f429a524a5d63" class="COVID-19_Icon">
                <h2 class="sub_Head_1">COVID-19 Test</h2>
                <p class="sub_Para_1">If you think you have been exposed to novel coronavirus (COVID-19)...more</p>
            </div>

        <h2 class="sub_Head_2">Symtoms</h2>
            <div class="child_Div_021">
                <img src="https://cdn-icons-png.flaticon.com/128/2877/2877524.png" class="Icon">
                <p>Dry Cough</p>
            </div>

            <div class="child_Div_022">
                <img src="https://cdn-icons-png.flaticon.com/128/2877/2877527.png" class="Icon">
                <p>High Fever</p>
            </div>

            <div class="child_Div_023">
                <img src="https://cdn-icons-png.flaticon.com/128/2877/2877533.png" class="Icon">
                <p>Headache</p>
            </div>

        <h2 class="sub_Head_3">Videos</h2>

            <div class="child_Div_03">
                <img src="https://cdn-user-icons.flaticon.com/108120/108120485/1687941061106.svg?token=exp=1687958797~hmac=b4fb67014ec399765d5ed038b22777a2" class="d_Icon">
                <h2 class="sub_Head_4">To prevent the spread of ...</h2>
                <p class="sub_Para_2">If you think you have been exposed to novel corona virus (COVID-19)</p>
                <button class="button_02">Watch Video</button>

            </div>
    </div>
</body>
</html>