<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style_05.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <table>
        <tr>
            <td>
            <div class="first_Box">
                <h1>DESIGN <i class="fa-solid fa-chart-line"></i></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem laboriosam voluptate recusandae, explicabo omnis adipisci fugiat distinctio sit asperiores consequuntur provident esse facere excepturi sequi sapiente eum molestiae repudiandae voluptas?</p>
                <div class="gradient_Box_01">
                </div>
            </div>
            </td>
            <td>
            <div class="second_Box">
                <h1>DESIGN <i class="fa-solid fa-briefcase"></i></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem laboriosam voluptate recusandae, explicabo omnis adipisci fugiat distinctio sit asperiores consequuntur provident esse facere excepturi sequi sapiente eum molestiae repudiandae voluptas?</p>
                <div class="gradient_Box_02">
                </div>
            </div>
            </td>
            <td>
            <div class="third_Box">
                <h1>DESIGN <i class="fa-solid fa-user-tie"></i></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem laboriosam voluptate recusandae, explicabo omnis adipisci fugiat distinctio sit asperiores consequuntur provident esse facere excepturi sequi sapiente eum molestiae repudiandae voluptas?</p>
                <div class="gradient_Box_03">
                </div>
            </div>
            </td>
        </tr>
    </table>
</body>
</html>