<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pseudo-04</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style_04.css">
</head>
<body>
    <p>Geeks for geeks is a computer science portal for geeks and computer enthusiast.</p>
    <article>Geeks for geeks provide a variety of services for you to learn, thrive and also have fun! Free tutorials, Millionof Articles, Live, Online and Classroom Courses, Frequent Coding Competitions, Webinars by Industry Experts, Internship opportunities and Job Opportunities
    </article>
</body>
</html>