<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pseudo-08</title>
    <link  rel="stylesheet" type="text/css" href="./CSS/style_08.css">
</head>
<body>
    <ol>
        <li>Paragraph 1</li>
        <li>Paragraph 2</li>
        <li>Paragraph 3</li>
        <li>Paragraph 4</li>
        <li>Paragraph 5</li>
        <li>Paragraph 6</li>
        <li>Paragraph 7</li>
        <li>Paragraph 8</li>
    </ol>
    <br>
    <h3>SCALER</h3>
    <p>Topics</p>
</body>
</html>