<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ID Selector</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style.css">
</head>
<body>
    <section id="content_Center">
        <dl>
                <dt><h1>CSS Selectors</h1></dt>
                    <dd>CSS selectors are used to "find" (or select) the HTML elements you want to style.</dd>
                    <br>
                    <dd>We can divide CSS selectors into five categories:</dd>
            <ul>
                <li>CSS Element Selector</li>
                <li>CSS Id Selector</li>
                <li>CSS Class Selector</li>
                <li>CSS Universal Selector</li>
                <li>CSS Group Selector</li>
            </ul>
            <dd>This page will explain the most basic CSS selectors.</dd>
                <br>
                <dt><h1>What is the Use of Universal Selector (*) in CSS?</h1></dt>
                    <dd>Maintaining consistent styles across browsers is tricky because each browser provides default styles for HTML elements. You want to reset all HTML element's padding and margin value to 0. Doing this work manually by selecting each element is too much work. That's where the universal selector comes in to save us as it selects all the elements and applies the defined styles to all the elements.</dd>
                    <br>
                    <dd>Take a look at the below code. It resets all HTML elements' margin and padding values.</dd>
                <br>
                <dt><h1>The CSS id Selector</h1></dt>
                    <dd>The id selector uses the id attribute of an HTML element to select a specific element.</dd>
                    <br>
                    <dd>The id of an element is unique within a page, so the id selector is used to select one unique element!</dd>
                    <br>
                    <dd>To select an element with a specific id, write a hash (#) character, followed by the id of the element.</dd>
                    <br>
                <dt><h1>The CSS class Selector</h1></dt>
                    <dd>CSS selectors are used to "find" (or select) the HTML elements you want to style.</dd>
                    <br>
                    <dd>We can divide CSS selectors into five categories:</dd>
                    <br>
                <dt>
                    <ul>
                        <li>Simple selectors (select elements based on name, id, class)</li>
                        <li>Combinator selectors (select elements based on a specific relationship between them)</li>
                        <li>Pseudo-elements selectors (select and style a part of an element)</li>
                        <li>Attribute selectors (select elements based on an attribute or attribute value)</li>
                        <li>This page will explain the most basic CSS selectors.</li>
                    </ul>
                </dt>
        </dl>
    </section>
</body>
</html>