<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body background="https://d33wubrfki0l68.cloudfront.net/3697f8a424a77e6e5b422007590aedb27abca140/2cad2/static/constellations-4eee0ff82aba4d347fc46bb276834140.jpg" style="color: whitesmoke;">
    <center>
    <h2>Sign In</h2>
    </center>
    <br>
    <center>
    <table cellspacing="20px">
        <tr>
            <td><label for="Username"><b>User ID</b></label></td>
            <td>:</td>
            <!-- This is for Username form -->
            <td><input type="text" id="" name="" value="" placeholder="Enter the Username"></td> 
        </tr>
        <tr>
            <td><label for="Password"><b>Password</b></label></td>
            <td>:</td>
            <!-- This is for Password form -->
            <td><input type="text" id="" name="" value="" placeholder="Enter the Password"></td>
        </tr>
    </table>
    </center>
    <br>
    <center><a href="./index.html"><input type="submit" id="" name="" value="Login"></a></center>
</body>
</html>