<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Services</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style1.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Our Services</h1>
    <table>
        <tr>
            <td>
                <div>
                    <i class="fa-brands fa-html5" style="color: #ff6600;"></i>
                    <h2>HTML 5</h2>
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Minus, Commodi</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-brands fa-css3-alt" style="color: #0393da;"></i>
                    <h2>CSS 3</h2>
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Minus, Commodi</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-brands fa-js" style="color: #f38331;"></i>
                    <h2>JavaScript</h2>
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Minus, Commodi</p>
                    <button>Read More</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <i class="fa-brands fa-sass" style="color: #b36c8a;"></i>                    
                    <h2>SASS</h2>
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Minus, Commodi</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <img src="https://www.pngitem.com/pimgs/m/295-2954213_jquery-logo-png-transparent-background-png-download.png" alt="No Image" height="90px" width="90px">
                    <h2>JQuery</h2>
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Minus, Commodi</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-brands fa-react" style="color: #85c1db;"></i>                    
                    <h2>React.Js</h2>
                    <p>Lorem Ipsum Dolor Sit Amet Consectetur Adipisicing Elit Minus, Commodi</p>
                    <button>Read More</button>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>