<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set In Touch</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style3.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="Top_title">
    <h1>Get In Touch</h1>
    <hr>
    <dl>
        <dt>We are looking forward to start a project with you!</dt>
        <dd>Morbi convallis metus eros, semper effficitur auctor, Etiam sit amet convallis erat. Class aptent taciti sociosqu ad<br>
        litora torquent per conubia! Maecenas gravida lacus net dolor suscipit faucibus.</dd>
    </dl>
    <table cellspacing="10px">
        <tbody>
            <tr>
                <td><i class="fa-solid fa-location-dot"></i><br>121 Rock Street, 21 Avenue, New York, NY 92103-9000</td>
                <td><input type="text" value="" id="SIGNUP_1" placeholder="Enter your Name"></td>
            </tr>
            <tr>
                <td><i class="fa-solid fa-phone"></i><br>1(234) 567-891<br>1(234) 987-654</td>
                <td><input type="text" value="" id="SIGNUP_1" placeholder="Enter a valid email address"></td>
            </tr>

            <tr>
                <td><i class="fa-solid fa-clock"></i><br>Mon-Fri.....10am - 8pm<br>Sat,Sun.....Closed</td>
                <td><textarea placeholder="Enter your message" id="MESSAGEBUTTON_1"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SUBMIT" id="SUBMITBUTTON_1"></td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>