<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./CSS/style8.css">
</head>
<body>
    <div>
        <table>
            <tr>
                <td></td>
                <td><h1>LOGIN</h1></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><p>Connect with</td>
                <td></td>
            </tr>
            <tr>
                <td><button id="topButton1"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></button></td>
                <td><button id="topButton2"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></button></td>
                <td><button id="topButton3"><i class="fa-brands fa-google-plus-g" style="color: #ffffff;"></i></button></td>
            </tr>
            <tr>
                <td><hr></td>
                <td><p>or</p></td>
                <td><hr></td>
            </tr>
            <tr>
                <td><label for="emailId">Email</label></td>
            </tr>
            <tr>
                <td colspan="3"><input type="text"></td>
            </tr>
            <tr>
                <td><label for="passWord" id="label_02">Password</label></td>
            </tr>
            <tr>
                <td colspan="3"><input type="text"></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" id="submit_Button" value="LOGIN"></td>
            </tr>
        </table>
    </div>
</body>
</html>