<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What We Do</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style2.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>WHAT WE DO</h1>
    <table>
        <tr>
            <td>
                <div>
                    <i class="fa-solid fa-cloud" style="color: #343434;"></i>
                    <h2>WEB MARKETING</h2>
                    <hr>
                    <p>This is a free responsive Bootstrap layout for our<br> services section. For icons are using fontawesome.<br> you can customize according to your requirement<br> simply download and use it. please don't forget to<br> share with your friends.</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-regular fa-clone fa-flip-vertical" style="color: #343434;"></i>
                    <h2>UI & UX DESIGN</h2>
                    <hr>
                    <p>This is a free responsive Bootstrap layout for our<br> services section. For icons are using fontawesome.<br> you can customize according to your requirement<br> simply download and use it. please don't forget to<br> share with your friends.</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-solid fa-laptop" style="color: #343434;"></i>
                    <h2>E-COMMERCE</h2>
                    <hr>
                    <p>This is a free responsive Bootstrap layout for our<br> services section. For icons are using fontawesome.<br> you can customize according to your requirement<br> simply download and use it. please don't forget to<br> share with your friends.</p>
                    <button>Read More</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <i class="fa-regular fa-compass" style="color: #343434;"></i>
                    <h2>MOBILE APP</h2>
                    <hr>
                    <p>This is a free responsive Bootstrap layout for our<br> services section. For icons are using fontawesome.<br> you can customize according to your requirement<br> simply download and use it. please don't forget to<br> share with your friends.</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-regular fa-comment-dots" style="color: #343434;"></i>
                    <h2>SOCIAL MEDIA</h2>
                    <hr>
                    <p>This is a free responsive Bootstrap layout for our<br> services section. For icons are using fontawesome.<br> you can customize according to your requirement<br> simply download and use it. please don't forget to<br> share with your friends.</p>
                    <button>Read More</button>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-solid fa-mobile-screen-button" style="color: #343434;"></i>
                    <h2>RESPONSIVE LAYOUT</h2>
                    <hr>
                    <p>This is a free responsive Bootstrap layout for our<br> services section. For icons are using fontawesome.<br> you can customize according to your requirement<br> simply download and use it. please don't forget to<br> share with your friends.</p>
                    <button>Read More</button>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>