<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Services</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <h2>OUR SERVICES</h2>
    <table>
        <tr>
            <td>
                <div>
                    <i class="fa-regular fa-money-bill-1"></i>
                    <h2>PHASELLUS</h2>
                    <hr>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-sharp fa-regular fa-comment"></i>
                    <h2>VIVAMUS</h2>
                    <hr>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-solid fa-scissors"></i>
                    <h2>INTEGER</h2>
                    <hr>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-regular fa-thumbs-up"></i>
                    <h2>FAUCIBUS</h2>
                    <hr>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <i class="fa-regular fa-bell"></i>
                    <h2>PHASELLUS</h2>
                    <hr>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-solid fa-gear"></i>
                    <h2>VIVAMUS</h2>
                    <hr>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-regular fa-credit-card"></i>
                    <h2>INTEGER</h2>
                    <hr>
                </div>
            </td>
            <td>
                <div>
                    <i class="fa-solid fa-bullhorn"></i>
                    <h2>FAUCIBUS</h2>
                    <hr>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>