<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adobe Pop Up</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style7.css">
    <script src="https://kit.fontawesome.com/156993881d.js" crossorigin="anonymous"></script>
</head>
<body>
    <i class="fa-solid fa-xmark" style="color: #bababa;"></i>
    <div>
        <img src="https://t4.ftcdn.net/jpg/02/97/24/51/360_F_297245133_gBPfK0h10UM3y7vfoEiBC3ZXt559KZar.jpg" height="150px" width="150px" id="Image_01">
        <article><p>Join over 300,000 designers who <br>get our new posts by email</p></article>
        <p><i class="fa-solid fa-star"></i>- New stories about great designers</p>
        <p><i class="fa-solid fa-star"></i>- Free downloads and other goodies</p>
        <p><i class="fa-solid fa-star"></i>- Design tips, tricks and more!</p>
        <input type="text" id="Input_01">
        <button>SUBSCRIBE</button>
    </div>
</body>
</html>