@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Dosis:wght@300&display=swap');

ol{
    list-style: none;
    font-size: 20px;
}
ol li:nth-child(odd){
background-color: rgba(137, 43, 226, 0.249);
padding: 10px;
}
ol li:nth-child(even){
background-color: rgba(255, 255, 0, 0.305);   
padding: 10px;
}
h3{
    text-align: center;
}
p{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 27, 171);
    font-size: 35px;
    margin-top: 5px;
}