<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning Web Development</title>
    <link rel="stylesheet" type="text/css" href="./CSS/style_01.css">
</head>
<body>
    <h1>Learning Web Development</h1>
    <ol id="orderList01">
        <li>Background Skills</li>
            <ol id="orderList02">
            <li>Unix Commands</li>
            <li>Vim Text Editor</li>
            </ol>
        <li>HTML</li>
                <ol id="orderList02">
                <li>Minimal Page</li>
                <li>Headings</li>
                <li>Tags</li>
                <li>Lists</li>
                    <ol id="orderList03">
                    <li>Unordered</li>
                    <li>Ordered</li>
                    <li>Definition</li>
                    <li>Nested</li>
                    </ol>
                <li>Links</li>
                    <ol id="orderList03">
                    <li>Absolute</li>
                    <li>Relative</li>
                    </ol>
                <li>Images</li>
                </ol>
        <li>CSS</li>
                <ol id="orderList02">
                    <li>Anatomy</li>
                    <li>Basic Selectors</li>
                        <ol id="orderList03">
                        <li>Element</li>
                        <li>Class</li>
                        <li>ID</li>
                        <li>Group</li>
                        </ol>
                    <li>The DOM</li>
                    <li>Advanced Selectors</li>
                    <li>Box Model</li>
                </ol>
        <li>Programming</li>
                <ol id="orderList02">
                    <li>Python</li>
                    <li>Javascript</li>
                </ol>
        <li>Database</li>
                <ol id="orderList02">
                    <li>Flat File</li>
                    <li>Relational</li>
                </ol>
    </ol>
</body>
</html>